<mtapp:setting
   id="use_original_path"
   label="<__trans phrase="Import path.">">
  <ul style="margin-top:5px">
    <li><input type="checkbox" name="use_original_path" id="use_original_path" value="1" <mt:if name="use_original_path"> checked="checked"</mt:if> /> <__trans phrase="Use original path."></li>
  </ul>
</mtapp:setting>
